In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('chapter.db')

In [3]:
conn.close()

In [4]:
with sqlite3.connect("chapter.db") as conn:
    pass

In [5]:
with sqlite3.connect("lesson.db") as conn:
    cursor = conn.cursor()
    cursor.execute("CREATE TABLE IF NOT EXISTS user (email text, first_name text, last_name text, address text, age integer, PRIMARY KEY (email))")
    cursor.execute("INSERT INTO user VALUES ('bob@example.com', 'Bob', 'Codd', '123 Fantasy lane, Fantasu City', 31)")
    cursor.execute("INSERT INTO user VALUES ('tom@web.com', 'Tom', 'Fake', '123 Fantasy lane, Fantasu City', 39)")
    conn.commit()

OperationalError: table user has 6 columns but 5 values were supplied

In [ ]:
with sqlite3.connect("lesson.db") as conn:
    cursor = conn.cursor()
    rows = cursor.execute('SELECT * FROM user')
    for row in rows:
        print(row)

In [ ]:
with sqlite3.connect("lesson.db") as conn:
    cursor = conn.cursor()
    cursor.execute("ALTER TABLE user ADD COLUMN gender text")
    cursor.execute("UPDATE user SET gender='M'")
    conn.commit()

In [ ]:
with sqlite3.connect("lesson.db") as conn:
    cursor = conn.cursor()
    cursor.execute("INSERT INTO user VALUES ('shelly@www.com', 'Shelly', 'Milar', '123, Ocean View Lane', 39, 'F')")
    conn.commit()

In [ ]:
with sqlite3.connect("lesson.db") as conn:
    cursor = conn.cursor()
    rows = cursor.execute("SELECT COUNT(*), gender FROM user GROUP BY gender")
    for row in rows:
        print(row)

In [ ]:
with sqlite3.connect("lesson.db") as conn:
    cursor = conn.cursor()
    cursor.execute("PRAGMA foreign_keys = 1")
    sql = """
        CREATE TABLE comments (
            user_id text,
            comments text,
            FOREIGN KEY (user_id) REFERENCES user (email) 
            ON DELETE CASCADE ON UPDATE NO ACTION
        )
    """
    cursor.execute(sql)
    conn.commit()

In [ ]:
with sqlite3.connect("lesson.db") as conn:
    cursor = conn.cursor()
    cursor.execute("PRAGMA foreign_keys = 1")
    sql = "INSERT INTO comments VALUES ('{}', '{}')"
    rows = cursor.execute('SELECT * FROM user ORDER BY age')
    for row in rows:
        email = row[0]
        print("Going to create rows for {}".format(email))
        name = row[1] + " " + row[2]
        for i in range(10):
            comment = "This is comment {} by {}".format(i, name)
            conn.cursor().execute(sql.format(email, comment))
    conn.commit()